.actioncontainer { 
	$size: 55px;
	$hoverdelay: .3s;
    transition: 0.3s;
    height: $size;
    width: $size;
    position: fixed;
    bottom: $size;
    right: $size/2;
    transition-delay: 2s;
	.actionbtn { 
		position: absolute;
		z-index: 2;
		bottom: 0;
		right: 0;
		display: flex;
		width: $size;
		height: $size;
		margin: auto;
		border-radius: 50%;
		background: $accent-color;
		color: white;
		transition: 0.3s;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
		&:hover { 
			box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.3);
		 }
		 .icon { 
		 	display: flex;
		    flex: auto;
		    align-items: center;
		    justify-content: center;
		    transition: transform .5s $hoverdelay;
		    border-radius: 50%;
		  }

	 }
	 .intentbtn { 
			@extend .actionbtn;
			display: flex;
			z-index: 1;
		 	transform: scale(0.8);
    		bottom: 0;
    		opacity: 0;
    		transition: bottom .4s ease $hoverdelay, opacity .4s ease $hoverdelay, box-shadow .4s ease 0s;
    		.actionlabel { 
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    width: max-content;
			    padding: 5px 10px;
			    font-size: 15px;
			    border-radius: 2px;
			    background: rgba(0,0,0,0.5);
			    right: 0;
			    transition: all .4s ease $hoverdelay;
    		}
	 }
	 &:hover { 
	 	.actionbtn:nth-child( 1 ) .icon { 
	 		transform: rotate( 225deg );
	 	 }
	 	.intentbtn {
	 		opacity: 1;
	 		.actionlabel {
	 			right: $size * 1.5;
	 		}
	 	}
	 	.intentbtn:nth-child( 2 ) { 
	 		bottom: $size + $size / 5;
	 	 }
	 	.intentbtn:nth-child( 3 ) { 
	 		bottom: $size * 2 + $size / 5;
	 	 }
	  }
 }

.searchdrop { 
	margin: 0;
	padding: 0 !important;
	list-style: none;
	li { 
		padding: 5px 0;
		font-size: 0.8em;
		background: $smooth-color;
		border-top: solid rgba( 0,0,0,0.1 ) 1px;
		&:hover{ 
			opacity: 0.8;
			background: $accent-color;
		 }
	 }
 }