.table { 
	width: 100%;
	text-align: center;
	tr { 
		line-height: 2em;
	 }
	 margin-bottom: 50px;
}

#persontable {
	h2 {
		margin: 0;
	}
	.modal {
	    @media screen and ( max-width: $tablet ) {
	    	position: absolute;
	    	top: 5px;
	    }
	}
}

#closebtn {
	display: block;
}