// Typography
$breakpoints: ( small: 480px,
	medium: 768px,
	large: 1024px);
$p-font-sizes: ( null: 14px,
	small: 15px,
	medium: 16px,
	large: 17px);
$h1-font-sizes: ( null: 28px,
	small: 31px,
	medium: 33px,
	large: 46px);
@mixin font-size($fs-map,
	$fs-breakpoints: $breakpoints) {
	@each $fs-breakpoint,
	$fs-font-size in $fs-map {
		@if $fs-breakpoint==null {
			font-size: $fs-font-size;
		}
		@else {
            // If $fs-font-size is a key that exists in
            // $fs-breakpoints, use the value
            @if map-has-key($fs-breakpoints,
            	$fs-breakpoint) {
            	$fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
            	font-size: $fs-font-size;
            }
        }
    }
}

h1 {
	@include font-size ( $h1-font-sizes)
}

p {
	@include font-size($p-font-sizes);
}

.link { 
	color: $accent-color;
	&:hover { 
		text-decoration: underline;
	 }
 }

.mouse {
	cursor: pointer;
	text-decoration: none!important;
	@extend .depth;
}

.white {
	color: white;
}

.center {
	text-align: center;
	&::placeholder { 
		text-align: center;
	 }
}

.subtitle {
	font-size: 0.8em;
    font-style: italic;
}